<root version="00000">
	<item Id="constant" Name="constant" FileName="./config/constant.xml" Reload="1" ClearData="0" ClearFile="0" ChildFile="0"/>
	<item Id="class" Name="class" FileName="./config/class.xml" Reload="1" ClearData="0" ClearFile="0" ChildFile="0"/>
	<item Id="class" Name="relationclass" FileName="./config/relationclass.xml" Reload="1" ClearData="0" ClearFile="0" ChildFile="0"/>
	<item Id="class" Name="achieveclass" FileName="./config/achieveclass.xml" Reload="1" ClearData="0" ClearFile="0" ChildFile="0"/>
	<item Id="item" Name="itemcommon" FileName="./config/itemcommon.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="1"/>
	<item Id="item" Name="itemgift" FileName="./config/itemgift.xml" Reload="1" ClearData="0" ClearFile="0" ChildFile="0"/>
	<item Id="weight" Name="weightpool" FileName="./config/weightpool.xml" Reload="1" ClearData="0" ClearFile="0" ChildFile="0"/>
	<item Id="hero" Name="hero" FileName="./config/hero.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0"/>
	<item Id="name" Name="name" FileName="./config/name.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0"/>
	<item Id="match" Name="match" FileName="./config/match.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0"/>
	<item Id="effect" Name="effect" FileName="./config/effect.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0"/>
	<item Id="foot" Name="foot" FileName="./config/foot.xml" Reload="1" ClearData="1" ClearFile="0" ChildFile="0"/>
</root>
