<?xml version = '1.0' encoding = 'utf-8' ?>
<Settings>
	<Setting Description="人类皇室" Id="11" Name="乌瑞恩"/>
	<Setting Description="人类皇室" Id="11" Name="米奈希尔"/>
	<Setting Description="人类皇室" Id="11" Name="佛莱宁"/>
	<Setting Description="人类皇室" Id="11" Name="法洛登"/>
	<Setting Description="人类皇室" Id="11" Name="奥普雷斯"/>
	<Setting Description="人类皇室" Id="11" Name="弗塔根"/>
	<Setting Description="人类贵族" Id="12" Name="提尔斯戴尔"/>
	<Setting Description="人类贵族" Id="12" Name="菲尔德"/>
	<Setting Description="人类贵族" Id="12" Name="奥玛尔"/>
	<Setting Description="人类贵族" Id="12" Name="班克沃斯"/>
	<Setting Description="人类贵族" Id="12" Name="威廉姆斯"/>
	<Setting Description="人类贵族" Id="12" Name="弗洛雷斯"/>
	<Setting Description="人类贵族" Id="12" Name="科尔米克"/>
	<Setting Description="人类贵族" Id="12" Name="菲尔顿"/>
	<Setting Description="人类贵族" Id="12" Name="斯利文托"/>
	<Setting Description="人类贵族" Id="12" Name="费斯特"/>
	<Setting Description="人类贵族" Id="12" Name="理查德森"/>
	<Setting Description="人类贵族" Id="12" Name="麦克莱利"/>
	<Setting Description="人类平民" Id="13" Name="提尔曼"/>
	<Setting Description="人类平民" Id="13" Name="蘇頓"/>
	<Setting Description="人类平民" Id="13" Name="菲爾森"/>
	<Setting Description="人类平民" Id="13" Name="法达尔"/>
	<Setting Description="人类平民" Id="13" Name="迪维"/>
	<Setting Description="人类平民" Id="13" Name="奥鲁尔科"/>
	<Setting Description="人类平民" Id="13" Name="弗雷"/>
	<Setting Description="人类平民" Id="13" Name="杰妮"/>
	<Setting Description="人类平民" Id="13" Name="卡扎雷兹"/>
	<Setting Description="人类平民" Id="13" Name="斯托克顿"/>
	<Setting Description="人类平民" Id="13" Name="西尼"/>
	<Setting Description="人类平民" Id="13" Name="坦纳"/>
	<Setting Description="人类平民" Id="13" Name="科波拉"/>
	<Setting Description="人类平民" Id="13" Name="埃古塔"/>
	<Setting Description="人类平民" Id="13" Name="艾伦"/>
	<Setting Description="人类平民" Id="13" Name="奥尔蒂"/>
	<Setting Description="人类平民" Id="13" Name="斯坦弗"/>
	<Setting Description="人类平民" Id="13" Name="托马斯"/>
	<Setting Description="人类平民" Id="13" Name="伯恩姆"/>
	<Setting Description="人类平民" Id="13" Name="沙希尔"/>
	<Setting Description="人类平民" Id="13" Name="达克"/>
	<Setting Description="人类平民" Id="13" Name="卡维尔"/>
	<Setting Description="人类平民" Id="13" Name="库比特"/>
	<Setting Description="人类平民" Id="13" Name="匹斯科夫"/>
	<Setting Description="人类平民" Id="13" Name="帕多克"/>
	<Setting Description="人类平民" Id="13" Name="托斯特"/>
	<Setting Description="人类平民" Id="13" Name="雷菲德"/>
	<Setting Description="人类平民" Id="13" Name="兰道"/>
	<Setting Description="人类平民" Id="13" Name="克雷"/>
	<Setting Description="人类平民" Id="13" Name="玛斯博瑞"/>
	<Setting Description="人类平民" Id="13" Name="史密斯"/>
	<Setting Description="人类平民" Id="13" Name="金斯利"/>
	<Setting Description="人类平民" Id="13" Name="巴奈斯"/>
	<Setting Description="人类平民" Id="13" Name="科南"/>
	<Setting Description="人类平民" Id="13" Name="科普兰"/>
	<Setting Description="精灵皇室" Id="21" Name="輕月"/>
	<Setting Description="精灵皇室" Id="21" Name="晨日"/>
	<Setting Description="精灵皇室" Id="21" Name="月落"/>
	<Setting Description="精灵皇室" Id="21" Name="暗星"/>
	<Setting Description="精灵皇室" Id="21" Name="鹰月"/>
	<Setting Description="精灵皇室" Id="21" Name="月光"/>
	<Setting Description="精灵皇室" Id="21" Name="明月"/>
	<Setting Description="精灵贵族" Id="22" Name="月怒"/>
	<Setting Description="精灵贵族" Id="22" Name="曦光"/>
	<Setting Description="精灵贵族" Id="22" Name="晨光"/>
	<Setting Description="精灵贵族" Id="22" Name="霜夜"/>
	<Setting Description="精灵贵族" Id="22" Name="晨星"/>
	<Setting Description="精灵贵族" Id="22" Name="星歌"/>
	<Setting Description="精灵贵族" Id="22" Name="金夜"/>
	<Setting Description="精灵贵族" Id="22" Name="轻风"/>
	<Setting Description="精灵贵族" Id="22" Name="风刃"/>
	<Setting Description="精灵贵族" Id="22" Name="语风"/>
	<Setting Description="精灵贵族" Id="22" Name="风剑"/>
	<Setting Description="精灵贵族" Id="22" Name="霜行"/>
	<Setting Description="精灵贵族" Id="22" Name="銀林"/>
	<Setting Description="精灵平民" Id="23" Name="影林"/>
	<Setting Description="精灵平民" Id="23" Name="影歌"/>
	<Setting Description="精灵平民" Id="23" Name="影綻"/>
	<Setting Description="精灵平民" Id="23" Name="晨歌"/>
	<Setting Description="精灵平民" Id="23" Name="远途"/>
	<Setting Description="精灵平民" Id="23" Name="晨草"/>
	<Setting Description="精灵平民" Id="23" Name="冬露"/>
	<Setting Description="精灵平民" Id="23" Name="怒爪"/>
	<Setting Description="精灵平民" Id="23" Name="水歌"/>
	<Setting Description="精灵平民" Id="23" Name="橡木"/>
	<Setting Description="精灵平民" Id="23" Name="珀葉"/>
	<Setting Description="精灵平民" Id="23" Name="琥珀"/>
	<Setting Description="精灵平民" Id="23" Name="细语"/>
	<Setting Description="精灵平民" Id="23" Name="鸦眼"/>
	<Setting Description="精灵平民" Id="23" Name="硬木"/>
	<Setting Description="精灵平民" Id="23" Name="柔歌"/>
	<Setting Description="精灵平民" Id="23" Name="羽弓"/>
	<Setting Description="精灵平民" Id="23" Name="绿树"/>
	<Setting Description="精灵平民" Id="23" Name="夜风"/>
	<Setting Description="精灵平民" Id="23" Name="夜行"/>
	<Setting Description="精灵平民" Id="23" Name="风行"/>
	<Setting Description="精灵平民" Id="23" Name="鹿盔"/>
	<Setting Description="矮人皇室" Id="31" Name="火拳"/>
	<Setting Description="矮人皇室" Id="31" Name="雷岩"/>
	<Setting Description="矮人皇室" Id="31" Name="山心"/>
	<Setting Description="矮人皇室" Id="31" Name="黑石"/>
	<Setting Description="矮人皇室" Id="31" Name="长须"/>
	<Setting Description="矮人皇室" Id="31" Name="熔火"/>
	<Setting Description="矮人皇室" Id="31" Name="金石"/>
	<Setting Description="矮人贵族" Id="32" Name="石拳"/>
	<Setting Description="矮人贵族" Id="32" Name="钢须"/>
	<Setting Description="矮人贵族" Id="32" Name="深炉"/>
	<Setting Description="矮人贵族" Id="32" Name="雷酒"/>
	<Setting Description="矮人贵族" Id="32" Name="金錘"/>
	<Setting Description="矮人贵族" Id="32" Name="火酒"/>
	<Setting Description="矮人贵族" Id="32" Name="铜须"/>
	<Setting Description="矮人贵族" Id="32" Name="巨锤"/>
	<Setting Description="矮人贵族" Id="32" Name="雷拳"/>
	<Setting Description="矮人贵族" Id="32" Name="黑钳"/>
	<Setting Description="矮人贵族" Id="32" Name="雷石"/>
	<Setting Description="矮人贵族" Id="32" Name="寒钢"/>
	<Setting Description="矮人贵族" Id="32" Name="怒炉"/>
	<Setting Description="矮人平民" Id="33" Name="怒斩"/>
	<Setting Description="矮人平民" Id="33" Name="落锤"/>
	<Setting Description="矮人平民" Id="33" Name="冷钢"/>
	<Setting Description="矮人平民" Id="33" Name="钢尺"/>
	<Setting Description="矮人平民" Id="33" Name="石锤"/>
	<Setting Description="矮人平民" Id="33" Name="粗臂"/>
	<Setting Description="矮人平民" Id="33" Name="裂石"/>
	<Setting Description="矮人平民" Id="33" Name="白塔"/>
	<Setting Description="矮人平民" Id="33" Name="蛮锤"/>
	<Setting Description="矮人平民" Id="33" Name="火舌"/>
	<Setting Description="矮人平民" Id="33" Name="岩刃"/>
	<Setting Description="矮人平民" Id="33" Name="紅石"/>
	<Setting Description="矮人平民" Id="33" Name="铁钻"/>
	<Setting Description="矮人平民" Id="33" Name="铁印"/>
	<Setting Description="矮人平民" Id="33" Name="重锤"/>
	<Setting Description="矮人平民" Id="33" Name="碎石"/>
	<Setting Description="矮人平民" Id="33" Name="麦酒"/>
	<Setting Description="矮人平民" Id="33" Name="铁矿"/>
	<Setting Description="矮人平民" Id="33" Name="铜矿"/>
	<Setting Description="矮人平民" Id="33" Name="铁锤"/>
	<Setting Description="矮人平民" Id="33" Name="麦须"/>
	<Setting Description="矮人平民" Id="33" Name="黑须"/>
	<Setting Description="矮人平民" Id="33" Name="石刃"/>
	<Setting Description="矮人平民" Id="33" Name="钢眉"/>
	<Setting Description="矮人平民" Id="33" Name="火花"/>
	<Setting Description="矮人平民" Id="33" Name="铁手"/>
	<Setting Description="矮人平民" Id="33" Name="高炉"/>
	<Setting Description="矮人平民" Id="33" Name="火眼"/>
	<Setting Description="矮人平民" Id="33" Name="金怒"/>
	<Setting Description="兽人皇室" Id="41" Name="咆哮"/>
	<Setting Description="兽人皇室" Id="41" Name="猛鹫"/>
	<Setting Description="兽人皇室" Id="41" Name="血狮"/>
	<Setting Description="兽人皇室" Id="41" Name="荒狼"/>
	<Setting Description="兽人皇室" Id="41" Name="号角"/>
	<Setting Description="兽人皇室" Id="41" Name="图腾"/>
	<Setting Description="兽人皇室" Id="41" Name="血豹"/>
	<Setting Description="兽人贵族" Id="42" Name="巨刃"/>
	<Setting Description="兽人贵族" Id="42" Name="狼脉"/>
	<Setting Description="兽人贵族" Id="42" Name="狮吼"/>
	<Setting Description="兽人贵族" Id="42" Name="雷角"/>
	<Setting Description="兽人贵族" Id="42" Name="狂暴"/>
	<Setting Description="兽人贵族" Id="42" Name="迅豹"/>
	<Setting Description="兽人贵族" Id="42" Name="鹰风"/>
	<Setting Description="兽人贵族" Id="42" Name="奔狼"/>
	<Setting Description="兽人贵族" Id="42" Name="平原"/>
	<Setting Description="兽人贵族" Id="42" Name="鹰爪"/>
	<Setting Description="兽人贵族" Id="42" Name="迅风"/>
	<Setting Description="兽人贵族" Id="42" Name="林风"/>
	<Setting Description="兽人平民" Id="43" Name="铁角"/>
	<Setting Description="兽人平民" Id="43" Name="云歌"/>
	<Setting Description="兽人平民" Id="43" Name="火牙"/>
	<Setting Description="兽人平民" Id="43" Name="邪语"/>
	<Setting Description="兽人平民" Id="43" Name="碎盔"/>
	<Setting Description="兽人平民" Id="43" Name="怒火"/>
	<Setting Description="兽人平民" Id="43" Name="怒吼"/>
	<Setting Description="兽人平民" Id="43" Name="焰喉"/>
	<Setting Description="兽人平民" Id="43" Name="焰拳"/>
	<Setting Description="兽人平民" Id="43" Name="血眼"/>
	<Setting Description="兽人平民" Id="43" Name="血喉"/>
	<Setting Description="兽人平民" Id="43" Name="骨刺"/>
	<Setting Description="兽人平民" Id="43" Name="铁怒"/>
	<Setting Description="兽人平民" Id="43" Name="鸣角"/>
	<Setting Description="兽人平民" Id="43" Name="灰皮"/>
	<Setting Description="兽人平民" Id="43" Name="亮鬃"/>
	<Setting Description="兽人平民" Id="43" Name="星角"/>
	<Setting Description="兽人平民" Id="43" Name="蛮鬃"/>
	<Setting Description="兽人平民" Id="43" Name="巨石"/>
	<Setting Description="兽人平民" Id="43" Name="韧皮"/>
	<Setting Description="兽人平民" Id="43" Name="碎颅"/>
	<Setting Description="兽人平民" Id="43" Name="刺鬃"/>
	<Setting Description="人类_男" Id="101" Name="麥客"/>
	<Setting Description="人类_男" Id="101" Name="梅根"/>
	<Setting Description="人类_男" Id="101" Name="山米爾"/>
	<Setting Description="人类_男" Id="101" Name="达尔雷恩"/>
	<Setting Description="人类_男" Id="101" Name="德文"/>
	<Setting Description="人类_男" Id="101" Name="菲利普"/>
	<Setting Description="人类_男" Id="101" Name="查普曼"/>
	<Setting Description="人类_男" Id="101" Name="阿里森"/>
	<Setting Description="人类_男" Id="101" Name="德拉塞恩"/>
	<Setting Description="人类_男" Id="101" Name="沃伦"/>
	<Setting Description="人类_男" Id="101" Name="伯恩斯"/>
	<Setting Description="人类_男" Id="101" Name="贝斯滕"/>
	<Setting Description="人类_男" Id="101" Name="托马斯"/>
	<Setting Description="人类_男" Id="101" Name="费里亚斯"/>
	<Setting Description="人类_男" Id="101" Name="劳菲尔"/>
	<Setting Description="人类_男" Id="101" Name="费尔德伦"/>
	<Setting Description="人类_男" Id="101" Name="洛尔米奇"/>
	<Setting Description="人类_男" Id="101" Name="吉尔尼斯"/>
	<Setting Description="人类_男" Id="101" Name="甘德"/>
	<Setting Description="人类_男" Id="101" Name="亚克森"/>
	<Setting Description="人类_男" Id="101" Name="多恩"/>
	<Setting Description="人类_男" Id="101" Name="罗比"/>
	<Setting Description="人类_男" Id="101" Name="瓦里安"/>
	<Setting Description="人类_男" Id="101" Name="瑟尔班"/>
	<Setting Description="人类_男" Id="101" Name="何塞"/>
	<Setting Description="人类_男" Id="101" Name="科提斯"/>
	<Setting Description="人类_男" Id="101" Name="卡尔多"/>
	<Setting Description="人类_男" Id="101" Name="费尔弗克"/>
	<Setting Description="人类_男" Id="101" Name="兰德尔森"/>
	<Setting Description="人类_男" Id="101" Name="斯通希尔"/>
	<Setting Description="人类_男" Id="101" Name="加瑟斯"/>
	<Setting Description="人类_男" Id="101" Name="乌雷特"/>
	<Setting Description="人类_男" Id="101" Name="麦尔斯"/>
	<Setting Description="人类_男" Id="101" Name="罗伯特"/>
	<Setting Description="人类_男" Id="101" Name="麦克尔"/>
	<Setting Description="人类_男" Id="101" Name="本杰明"/>
	<Setting Description="人类_男" Id="101" Name="斯特温"/>
	<Setting Description="人类_男" Id="101" Name="道宁"/>
	<Setting Description="人类_男" Id="101" Name="梅尔"/>
	<Setting Description="人类_男" Id="101" Name="科斯坦斯"/>
	<Setting Description="人类_男" Id="101" Name="斯坦利"/>
	<Setting Description="人类_男" Id="101" Name="加斯汀"/>
	<Setting Description="人类_男" Id="101" Name="耶利尼克"/>
	<Setting Description="人类_男" Id="101" Name="伊安"/>
	<Setting Description="人类_男" Id="101" Name="亚特"/>
	<Setting Description="人类_男" Id="101" Name="提斯"/>
	<Setting Description="人类_男" Id="101" Name="里安"/>
	<Setting Description="人类_男" Id="101" Name="埃德加"/>
	<Setting Description="人类_男" Id="101" Name="托伦"/>
	<Setting Description="人类_男" Id="101" Name="罗杰斯"/>
	<Setting Description="人类_男" Id="101" Name="哈蒙德"/>
	<Setting Description="人类_男" Id="101" Name="加文"/>
	<Setting Description="人类_男" Id="101" Name="乔丹"/>
	<Setting Description="人类_男" Id="101" Name="丹尼尔"/>
	<Setting Description="人类_男" Id="101" Name="哈德森"/>
	<Setting Description="人类_男" Id="101" Name="瓦伦"/>
	<Setting Description="人类_男" Id="101" Name="希恩"/>
	<Setting Description="人类_女" Id="102" Name="瑪莉恩"/>
	<Setting Description="人类_女" Id="102" Name="阿達拉"/>
	<Setting Description="人类_女" Id="102" Name="凱特瑞娜"/>
	<Setting Description="人类_女" Id="102" Name="娜布莉亚"/>
	<Setting Description="人类_女" Id="102" Name="艾德琳"/>
	<Setting Description="人类_女" Id="102" Name="安"/>
	<Setting Description="人类_女" Id="102" Name="莱斯莉"/>
	<Setting Description="人类_女" Id="102" Name="柯尔斯蒂"/>
	<Setting Description="人类_女" Id="102" Name="奥莉维亚"/>
	<Setting Description="人类_女" Id="102" Name="贾敏"/>
	<Setting Description="人类_女" Id="102" Name="克莉斯丁"/>
	<Setting Description="人类_女" Id="102" Name="凯蒂"/>
	<Setting Description="人类_女" Id="102" Name="丽莎"/>
	<Setting Description="人类_女" Id="102" Name="奥利卡"/>
	<Setting Description="人类_女" Id="102" Name="贝萨妮"/>
	<Setting Description="人类_女" Id="102" Name="卡塔莉娜"/>
	<Setting Description="人类_女" Id="102" Name="坎蒂丝"/>
	<Setting Description="人类_女" Id="102" Name="玛嘉莎"/>
	<Setting Description="人类_女" Id="102" Name="安吉拉"/>
	<Setting Description="人类_女" Id="102" Name="法拉"/>
	<Setting Description="人类_女" Id="102" Name="苏利"/>
	<Setting Description="精灵_男" Id="201" Name="特雷利斯"/>
	<Setting Description="精灵_男" Id="201" Name="莫里索雷"/>
	<Setting Description="精灵_男" Id="201" Name="尼斯达"/>
	<Setting Description="精灵_男" Id="201" Name="希克尔"/>
	<Setting Description="精灵_男" Id="201" Name="奈斯塔"/>
	<Setting Description="精灵_男" Id="201" Name="格林德"/>
	<Setting Description="精灵_男" Id="201" Name="加林德"/>
	<Setting Description="精灵_男" Id="201" Name="维塔迪"/>
	<Setting Description="精灵_男" Id="201" Name="奥本"/>
	<Setting Description="精灵_男" Id="201" Name="维瓦"/>
	<Setting Description="精灵_男" Id="201" Name="安多尔"/>
	<Setting Description="精灵_男" Id="201" Name="伊蘭尼斯"/>
	<Setting Description="精灵_男" Id="201" Name="亞爾丹"/>
	<Setting Description="精灵_男" Id="201" Name="克雷南"/>
	<Setting Description="精灵_男" Id="201" Name="芬德利歐"/>
	<Setting Description="精灵_男" Id="201" Name="多瑞諾爾"/>
	<Setting Description="精灵_男" Id="201" Name="凯达米尔"/>
	<Setting Description="精灵_男" Id="201" Name="伯萨努斯"/>
	<Setting Description="精灵_男" Id="201" Name="迈拉瑞斯"/>
	<Setting Description="精灵_男" Id="201" Name="德林拉尔"/>
	<Setting Description="精灵_男" Id="201" Name="拜恩希"/>
	<Setting Description="精灵_男" Id="201" Name="艾瑞拉斯"/>
	<Setting Description="精灵_男" Id="201" Name="布兰诺尔"/>
	<Setting Description="精灵_男" Id="201" Name="卡尔"/>
	<Setting Description="精灵_男" Id="201" Name="塞恩德拉"/>
	<Setting Description="精灵_男" Id="201" Name="奥兰纳"/>
	<Setting Description="精灵_男" Id="201" Name="玛丹特"/>
	<Setting Description="精灵_男" Id="201" Name="詹诺克"/>
	<Setting Description="精灵_男" Id="201" Name="纳瑞特"/>
	<Setting Description="精灵_男" Id="201" Name="辛达"/>
	<Setting Description="精灵_男" Id="201" Name="墨菲"/>
	<Setting Description="精灵_男" Id="201" Name="维斯派塔斯"/>
	<Setting Description="精灵_男" Id="201" Name="安迪斯"/>
	<Setting Description="精灵_男" Id="201" Name="雷利亚"/>
	<Setting Description="精灵_男" Id="201" Name="科瑞萨斯"/>
	<Setting Description="精灵_男" Id="201" Name="奥肯斯古尔"/>
	<Setting Description="精灵_男" Id="201" Name="阿高尔"/>
	<Setting Description="精灵_男" Id="201" Name="麦利萨尔"/>
	<Setting Description="精灵_男" Id="201" Name="泰伦"/>
	<Setting Description="精灵_男" Id="201" Name="奥卡尔"/>
	<Setting Description="精灵_男" Id="201" Name="菲尔里"/>
	<Setting Description="精灵_男" Id="201" Name="辛塔尔"/>
	<Setting Description="精灵_女" Id="202" Name="洛瑟玛"/>
	<Setting Description="精灵_女" Id="202" Name="珊崔雅"/>
	<Setting Description="精灵_女" Id="202" Name="丹泰莉雅"/>
	<Setting Description="精灵_女" Id="202" Name="埃蕾希"/>
	<Setting Description="精灵_女" Id="202" Name="妮萨拉"/>
	<Setting Description="精灵_女" Id="202" Name="克瑞丝"/>
	<Setting Description="精灵_女" Id="202" Name="莉安達"/>
	<Setting Description="精灵_女" Id="202" Name="摩芮安娜"/>
	<Setting Description="精灵_女" Id="202" Name="尼莎"/>
	<Setting Description="精灵_女" Id="202" Name="劳尔娜"/>
	<Setting Description="精灵_女" Id="202" Name="凯拉"/>
	<Setting Description="精灵_女" Id="202" Name="阿亚娜"/>
	<Setting Description="精灵_女" Id="202" Name="吉娜"/>
	<Setting Description="精灵_女" Id="202" Name="妮麦"/>
	<Setting Description="精灵_女" Id="202" Name="雅里瑞拉"/>
	<Setting Description="精灵_女" Id="202" Name="奥雷希尔"/>
	<Setting Description="精灵_女" Id="202" Name="迪兰妮亚"/>
	<Setting Description="精灵_女" Id="202" Name="丹利亚"/>
	<Setting Description="精灵_女" Id="202" Name="简娜"/>
	<Setting Description="精灵_女" Id="202" Name="奥莉希亚"/>
	<Setting Description="精灵_女" Id="202" Name="莎依拉"/>
	<Setting Description="精灵_女" Id="202" Name="阿玛拉"/>
	<Setting Description="精灵_女" Id="202" Name="特莱亚妮丝"/>
	<Setting Description="精灵_女" Id="202" Name="达蕾恩"/>
	<Setting Description="精灵_女" Id="202" Name="奈欧玛"/>
	<Setting Description="精灵_女" Id="202" Name="基尔沙兰"/>
	<Setting Description="矮人_男" Id="301" Name="乌布雷克"/>
	<Setting Description="矮人_男" Id="301" Name="格鲁姆"/>
	<Setting Description="矮人_男" Id="301" Name="洛特加斯"/>
	<Setting Description="矮人_男" Id="301" Name="斯拉兹"/>
	<Setting Description="矮人_男" Id="301" Name="泰摩尔"/>
	<Setting Description="矮人_男" Id="301" Name="巴克尔"/>
	<Setting Description="矮人_男" Id="301" Name="埃瑞克"/>
	<Setting Description="矮人_男" Id="301" Name="雷姆斯"/>
	<Setting Description="矮人_男" Id="301" Name="布里维夫"/>
	<Setting Description="矮人_男" Id="301" Name="格罗杜姆"/>
	<Setting Description="矮人_男" Id="301" Name="乌莫尔特"/>
	<Setting Description="矮人_男" Id="301" Name="信使考雷"/>
	<Setting Description="矮人_男" Id="301" Name="埃隆努斯"/>
	<Setting Description="矮人_男" Id="301" Name="索恩斯"/>
	<Setting Description="矮人_男" Id="301" Name="希格斯"/>
	<Setting Description="矮人_男" Id="301" Name="托姆斯"/>
	<Setting Description="矮人_男" Id="301" Name="拉戈"/>
	<Setting Description="矮人_男" Id="301" Name="科罗莫特"/>
	<Setting Description="矮人_男" Id="301" Name="罗顿"/>
	<Setting Description="矮人_男" Id="301" Name="穆里顿"/>
	<Setting Description="矮人_男" Id="301" Name="克罗姆"/>
	<Setting Description="矮人_男" Id="301" Name="萨古斯"/>
	<Setting Description="矮人_男" Id="301" Name="莱恩"/>
	<Setting Description="矮人_男" Id="301" Name="巴尔萨斯"/>
	<Setting Description="矮人_男" Id="301" Name="德姆恩"/>
	<Setting Description="矮人_男" Id="301" Name="丁尼塔"/>
	<Setting Description="矮人_男" Id="301" Name="穆拉丁"/>
	<Setting Description="矮人_男" Id="301" Name="弗斯塔德"/>
	<Setting Description="矮人_男" Id="301" Name="哈尼尔"/>
	<Setting Description="矮人_男" Id="301" Name="克里奇"/>
	<Setting Description="矮人_男" Id="301" Name="卡洛"/>
	<Setting Description="矮人_男" Id="301" Name="扎克"/>
	<Setting Description="矮人_男" Id="301" Name="格雷"/>
	<Setting Description="矮人_男" Id="301" Name="莱兰迪斯"/>
	<Setting Description="矮人_男" Id="301" Name="梅尔南"/>
	<Setting Description="矮人_男" Id="301" Name="索雷尔"/>
	<Setting Description="矮人_男" Id="301" Name="杜尔曼"/>
	<Setting Description="矮人_男" Id="301" Name="高尼尔"/>
	<Setting Description="矮人_男" Id="301" Name="格雷尼尔"/>
	<Setting Description="矮人_男" Id="301" Name="莱纳"/>
	<Setting Description="矮人_男" Id="301" Name="凯夫"/>
	<Setting Description="矮人_男" Id="301" Name="尼特布尔"/>
	<Setting Description="矮人_男" Id="301" Name="奥米尔"/>
	<Setting Description="矮人_男" Id="301" Name="拉尔金"/>
	<Setting Description="矮人_男" Id="301" Name="柏瑞姆"/>
	<Setting Description="矮人_男" Id="301" Name="克斯塔姆"/>
	<Setting Description="矮人_男" Id="301" Name="维拉特"/>
	<Setting Description="矮人_男" Id="301" Name="比罗"/>
	<Setting Description="矮人_男" Id="301" Name="巴纳姆"/>
	<Setting Description="矮人_男" Id="301" Name="拜雷"/>
	<Setting Description="矮人_男" Id="301" Name="曼高恩"/>
	<Setting Description="矮人_男" Id="301" Name="布兰度尔"/>
	<Setting Description="矮人_男" Id="301" Name="埃德瑞斯"/>
	<Setting Description="矮人_男" Id="301" Name="洛雷"/>
	<Setting Description="矮人_男" Id="301" Name="霍夫丹"/>
	<Setting Description="矮人_男" Id="301" Name="霍迪尔"/>
	<Setting Description="矮人_男" Id="301" Name="匹德菲特"/>
	<Setting Description="矮人_男" Id="301" Name="雷格努斯"/>
	<Setting Description="矮人_男" Id="301" Name="杜尔金"/>
	<Setting Description="矮人_女" Id="302" Name="贝莉亚"/>
	<Setting Description="矮人_女" Id="302" Name="米洛尔"/>
	<Setting Description="矮人_女" Id="302" Name="蒂萨"/>
	<Setting Description="矮人_女" Id="302" Name="菲拉娜"/>
	<Setting Description="矮人_女" Id="302" Name="莱达"/>
	<Setting Description="矮人_女" Id="302" Name="莱恩达"/>
	<Setting Description="矮人_女" Id="302" Name="布莱利亚"/>
	<Setting Description="矮人_女" Id="302" Name="尼莎"/>
	<Setting Description="矮人_女" Id="302" Name="伊尔萨"/>
	<Setting Description="矮人_女" Id="302" Name="凯洛米尔"/>
	<Setting Description="矮人_女" Id="302" Name="卡兰"/>
	<Setting Description="兽人_男" Id="401" Name="奥普诺"/>
	<Setting Description="兽人_男" Id="401" Name="奥瓦托"/>
	<Setting Description="兽人_男" Id="401" Name="祖穆拉恩"/>
	<Setting Description="兽人_男" Id="401" Name="塔特比"/>
	<Setting Description="兽人_男" Id="401" Name="雷恩托"/>
	<Setting Description="兽人_男" Id="401" Name="西雷泽戈"/>
	<Setting Description="兽人_男" Id="401" Name="里格吉兹"/>
	<Setting Description="兽人_男" Id="401" Name="索瓦特"/>
	<Setting Description="兽人_男" Id="401" Name="乌拉诺克"/>
	<Setting Description="兽人_男" Id="401" Name="纳兹加尔"/>
	<Setting Description="兽人_男" Id="401" Name="希加姆比"/>
	<Setting Description="兽人_男" Id="401" Name="尤姆布"/>
	<Setting Description="兽人_男" Id="401" Name="祖鲁"/>
	<Setting Description="兽人_男" Id="401" Name="库纳基"/>
	<Setting Description="兽人_男" Id="401" Name="乌恩加里"/>
	<Setting Description="兽人_男" Id="401" Name="瓦邦"/>
	<Setting Description="兽人_男" Id="401" Name="萨桑格"/>
	<Setting Description="兽人_男" Id="401" Name="卡尔克"/>
	<Setting Description="兽人_男" Id="401" Name="伯纳特"/>
	<Setting Description="兽人_男" Id="401" Name="加兹盖尔"/>
	<Setting Description="兽人_男" Id="401" Name="法斯维克"/>
	<Setting Description="兽人_男" Id="401" Name="克罗斯维"/>
	<Setting Description="兽人_男" Id="401" Name="克劳基克"/>
	<Setting Description="兽人_男" Id="401" Name="安图苏尔"/>
	<Setting Description="兽人_男" Id="401" Name="阿姆高尔"/>
	<Setting Description="兽人_男" Id="401" Name="欧恩达"/>
	<Setting Description="兽人_男" Id="401" Name="弗雷斯"/>
	<Setting Description="兽人_男" Id="401" Name="加尔鲁什"/>
	<Setting Description="兽人_男" Id="401" Name="戈图拉"/>
	<Setting Description="兽人_男" Id="401" Name="斯拉兹"/>
	<Setting Description="兽人_男" Id="401" Name="罗格"/>
	<Setting Description="兽人_男" Id="401" Name="姆罗格"/>
	<Setting Description="兽人_男" Id="401" Name="德利安"/>
	<Setting Description="兽人_男" Id="401" Name="鲁戈克"/>
	<Setting Description="兽人_男" Id="401" Name="卡爾洛斯"/>
	<Setting Description="兽人_男" Id="401" Name="瓦奥尔萨"/>
	<Setting Description="兽人_男" Id="401" Name="朗多克"/>
	<Setting Description="兽人_男" Id="401" Name="玛鲁德"/>
	<Setting Description="兽人_男" Id="401" Name="卡兹特"/>
	<Setting Description="兽人_男" Id="401" Name="巴兹尔"/>
	<Setting Description="兽人_男" Id="401" Name="祖格拉"/>
	<Setting Description="兽人_男" Id="401" Name="罗纳卡达"/>
	<Setting Description="兽人_男" Id="401" Name="古拉姆"/>
	<Setting Description="兽人_男" Id="401" Name="玛基努斯"/>
	<Setting Description="兽人_男" Id="401" Name="乌萨罗"/>
	<Setting Description="兽人_男" Id="401" Name="奥兰努斯"/>
	<Setting Description="兽人_男" Id="401" Name="甘鲁尔"/>
	<Setting Description="兽人_男" Id="401" Name="卡尔特拉"/>
	<Setting Description="兽人_男" Id="401" Name="弗雷萨"/>
	<Setting Description="兽人_男" Id="401" Name="杰斯雷蒙"/>
	<Setting Description="兽人_男" Id="401" Name="奥克索斯"/>
	<Setting Description="兽人_男" Id="401" Name="高拉克"/>
	<Setting Description="兽人_男" Id="401" Name="格鲁克"/>
	<Setting Description="兽人_男" Id="401" Name="帕库"/>
	<Setting Description="兽人_男" Id="401" Name="歐托"/>
	<Setting Description="兽人_男" Id="401" Name="阿波尼"/>
	<Setting Description="兽人_男" Id="401" Name="赫苏瓦"/>
	<Setting Description="兽人_男" Id="401" Name="克古尔"/>
	<Setting Description="兽人_男" Id="401" Name="奥尔诺"/>
	<Setting Description="兽人_男" Id="401" Name="哈夫纳"/>
	<Setting Description="兽人_男" Id="401" Name="马沙克"/>
	<Setting Description="兽人_男" Id="401" Name="瓦利亚"/>
	<Setting Description="兽人_男" Id="401" Name="克鲁格"/>
	<Setting Description="兽人_男" Id="401" Name="梅洛克"/>
	<Setting Description="兽人_女" Id="402" Name="莎伊"/>
	<Setting Description="兽人_女" Id="402" Name="琪克萨"/>
	<Setting Description="兽人_女" Id="402" Name="佩妮克萨"/>
	<Setting Description="兽人_女" Id="402" Name="米瓦娜"/>
	<Setting Description="兽人_女" Id="402" Name="诺希"/>
	<Setting Description="兽人_女" Id="402" Name="利瓦萨"/>
	<Setting Description="兽人_女" Id="402" Name="格莱维"/>
	<Setting Description="兽人_女" Id="402" Name="库扎莉"/>
	<Setting Description="兽人_女" Id="402" Name="克洛伽"/>
	<Setting Description="兽人_女" Id="402" Name="曾迦"/>
	<Setting Description="兽人_女" Id="402" Name="乌芙达"/>
	<Setting Description="兽人_女" Id="402" Name="奥玛卡"/>
	<Setting Description="兽人_女" Id="402" Name="尤蕾达"/>
	<Setting Description="兽人_女" Id="402" Name="巴弗莱"/>
	<Setting Description="兽人_女" Id="402" Name="莎妮兹"/>
	<Setting Description="兽人_女" Id="402" Name="普恩娜"/>
	<Setting Description="兽人_女" Id="402" Name="赫纳"/>
	<Setting Description="兽人_女" Id="402" Name="纳拉"/>
	<Setting Description="兽人_女" Id="402" Name="菲比"/>
	<Setting Description="兽人_女" Id="402" Name="兰达"/>
	<Setting Description="兽人_女" Id="402" Name="莫沙"/>
	<Setting Description="兽人_女" Id="402" Name="米达"/>
	<Setting Description="兽人_女" Id="402" Name="兰卡"/>
</Settings>
