<?xml version = '1.0' encoding = 'utf-8' ?>
<Settings>
	<Setting Description="普通" Quality="1" Rate="D" Weight="55" Basic="20" Growup="4"/>
	<Setting Description="优秀" Quality="2" Rate="C" Weight="25" Basic="20" Growup="5"/>
	<Setting Description="精英" Quality="3" Rate="B" Weight="13" Basic="20" Growup="6"/>
	<Setting Description="史诗" Quality="4" Rate="A" Weight="6" Basic="20" Growup="7"/>
	<Setting Description="传说" Quality="5" Rate="S" Weight="1" Basic="20" Growup="8"/>
</Settings>
