<?xml version = '1.0' encoding = 'utf-8' ?>
<Settings>
	<Setting Description="人类种族 属性概率分布" Id="1" Attr:str="25" Attr:dex="25" Attr:con="25" Attr:int="25"/>
	<Setting Description="精灵种族 属性概率分布" Id="2" Attr:str="20" Attr:dex="20" Attr:con="30" Attr:int="30"/>
	<Setting Description="矮人种族 属性概率分布" Id="3" Attr:str="30" Attr:dex="30" Attr:con="20" Attr:int="20"/>
	<Setting Description="兽人种族 属性概率分布" Id="4" Attr:str="35" Attr:dex="30" Attr:con="20" Attr:int="15"/>
	<Setting Description="战士" Id="101" Attr:str="30" Attr:dex="25" Attr:con="30" Attr:int="15"/>
	<Setting Description="剑圣" Id="102" Attr:str="40" Attr:dex="30" Attr:con="20" Attr:int="10"/>
	<Setting Description="狂战士" Id="103" Attr:str="40" Attr:dex="20" Attr:con="30" Attr:int="10"/>
	<Setting Description="重甲战士" Id="104" Attr:str="30" Attr:dex="20" Attr:con="40" Attr:int="10"/>
	<Setting Description="盾卫" Id="105" Attr:str="30" Attr:dex="20" Attr:con="40" Attr:int="10"/>
	<Setting Description="游侠" Id="201" Attr:str="25" Attr:dex="35" Attr:con="20" Attr:int="20"/>
	<Setting Description="精灵射手" Id="202" Attr:str="25" Attr:dex="40" Attr:con="20" Attr:int="15"/>
	<Setting Description="骑兵" Id="801" Attr:str="25" Attr:dex="20" Attr:con="40" Attr:int="15"/>
	<Setting Description="飞龙骑士" Id="901" Attr:str="40" Attr:dex="10" Attr:con="35" Attr:int="15"/>
</Settings>
