<?xml version = '1.0' encoding = 'utf-8' ?>
<Settings>
	<Setting Description="枪兵" Profession="101" AttrPoint="101" Weapon="2-100" ActiveCount="2" ActiveSkill="3101001-100|3101002-100" PassivityCount="0" PassivitySkill="" InnateCount="0" InnateSkill=""/>
	<Setting Description="战士" Profession="102" AttrPoint="102" Weapon="1-100" ActiveCount="2" ActiveSkill="3102001-100|3102002-100" PassivityCount="0" PassivitySkill="" InnateCount="0" InnateSkill=""/>
	<Setting Description="狂战士" Profession="103" AttrPoint="103" Weapon="1-100" ActiveCount="2" ActiveSkill="" PassivityCount="0" PassivitySkill="" InnateCount="0" InnateSkill=""/>
	<Setting Description="重甲战士" Profession="104" AttrPoint="104" Weapon="1-100|2-100" ActiveCount="2" ActiveSkill="" PassivityCount="0" PassivitySkill="" InnateCount="0" InnateSkill=""/>
	<Setting Description="重甲" Profession="105" AttrPoint="105" Weapon="3-100" ActiveCount="2" ActiveSkill="3105001-100|3105002-100" PassivityCount="0" PassivitySkill="" InnateCount="" InnateSkill=""/>
	<Setting Description="游侠" Profession="201" AttrPoint="201" Weapon="4-100" ActiveCount="2" ActiveSkill="" PassivityCount="0" PassivitySkill="" InnateCount="" InnateSkill=""/>
	<Setting Description="射手" Profession="202" AttrPoint="202" Weapon="4-100" ActiveCount="2" ActiveSkill="3202001-100|3202002-100" PassivityCount="0" PassivitySkill="" InnateCount="" InnateSkill=""/>
	<Setting Description="骑兵" Profession="801" AttrPoint="801" Weapon="1-100" ActiveCount="2" ActiveSkill="3801001-100|3801002-100" PassivityCount="0" PassivitySkill="" InnateCount="" InnateSkill=""/>
	<Setting Description="龙骑士" Profession="901" AttrPoint="901" Weapon="2-100" ActiveCount="2" ActiveSkill="3901001-100|3901002-100" PassivityCount="0" PassivitySkill="" InnateCount="" InnateSkill=""/>
</Settings>
