<root version="00000">
	<item DataName="sevenday" NoteId="10000" TimeType="3" TimeValue="1" TimeHour="6" ParentName="signin" Key="0" Operate="3" Value="0"/>
	<item DataName="sevenreward" NoteId="10000" TimeType="3" TimeValue="1" TimeHour="6" ParentName="signin" Key="0" Operate="3" Value="0"/>
	<item DataName="" NoteId="10000" TimeType="3" TimeValue="1" TimeHour="6" ParentName="weeklystore" Key="0" Operate="0" Value="0"/>
	<item DataName="sevenday" NoteId="10001" TimeType="2" TimeValue="0" TimeHour="6" ParentName="signin" Key="0" Operate="1" Value="1"/>
	<item DataName="" NoteId="10001" TimeType="2" TimeValue="0" TimeHour="6" ParentName="dailystore" Key="0" Operate="0" Value="0"/>
</root>
